<form id="options-form" class="form-inline pull-right">
    <div class="button-group">
      <label>
        <input type="radio" name="button-group" value="item" checked>
        <span class="button-group-item">Inherited</span>
      </label>
      <label>
        <input type="radio" name="button-group" value="other-item">
        <span class="button-group-item">Protected</span>
      </label>
      <label>
        <input type="radio" name="button-group" value="other-item">
        <span class="button-group-item">Private</span>
      </label>
      <label>
        <input type="radio" name="button-group" value="third">
        <span class="button-group-item">Deprecatec</span>
      </label>
    </div>
</form>

