<form id="options-form" class="form-inline pull-right">
  <div class="button-group">
    <label>
      <input type="checkbox" name="button-group" value="inherited">
      <span class="button-group-item">Inherited</span>
    </label>
    <label>
      <input type="checkbox" name="button-group" value="static" checked>
      <span class="button-group-item">Static</span>
    </label>
    <label>
      <input type="checkbox" name="button-group" value="protected">
      <span class="button-group-item">Protected</span>
    </label>
    <label>
      <input type="checkbox" name="button-group" value="private">
      <span class="button-group-item">Private</span>
    </label>
    <label>
      <input type="checkbox" name="button-group" value="deprecated">
      <span class="button-group-item">Deprecated</span>
    </label>
  </div>
</form>

