#header {
  @include outer-container;
  @include row;

  h1 {
    font-size: 2.5em;
  }
}

#content {
  @include outer-container;
  @include row;
}

#sidebar {
  @include span-columns(3);

  ul {
    @include fill-parent;

    li {
      display: block;
      border-bottom: solid 1px $header-underline-color;

      a {
        @include fill-parent;
        padding: .5em;
        display: block;

        &:hover {
          color: white;
          background: {
            color: $header-color;
          }
        }
      }
    }
  }
}

#layout-content {
  @include span-columns(9);
  @include omega;
}

#footer {
  .inner {
    @include outer-container;
  }
}

#options-form {
  @include clearfix;
  @include fill-parent;

  .button-group {
    float: right;
  }
}

.hidden {
  display: none;
}

