.inline {
  display: inline-block;
}

.args {
  display: inline-block;
}

.args-list {
  display: inline-block;
}

.method-signature {
  display: inline-block;
}

.flag.private {
  padding: 0 .25em;
  background: #FC323F;
  color: white;
  font-size: 80%;
  display: inline-block;
  border-radius: $default-border-radius;
}

.private {
  display: none;
}

#class-toc {
  display: none;
}

.page-header {
  h1 {
    font-size: 2.0em;
    color: $header-color;
    padding-bottom: .25em;
    border-bottom: solid 4px $header-underline-color;
  }
}

.method {
  @include span-columns(8 of 8);

  .method-header {
    @include clearfix;
  }

  .method-content {
    border-bottom: solid 1px $header-underline-color;
    padding-bottom: 2em;
    margin-bottom: 2em;
  }

  .method-signature {
    @include span-columns(6 of 8);

    .returns-inline {
      display: none;
    }

    .name {
      font-family: "Helvetica";
      font-size: 1.75em;
      font-weight: bold;
      color: $header-color;
    }
  }

  .args-list {
    @include clearfix;
    line-height: .75em;

    .arg {
      font-weight: bold;
      float: left;
      font-size: 1.25em;
      color: #FF4C00;

      .comma {
        color: black;
      }

      .default {
        color: #FF4C00;
      }

      .optional {
        color: #4C4C4C;
      }
    }
  }

  .meta {
    @include span-columns(2 of 8);
    @include omega;
    font-size: 1em;
  }

  .params {
    margin-top: 1em;

    h4 {
      padding: 0;
      margin: 0;
    }
  }

  .returns {
    margin-top: 2em;
  }

  .params-list {
    .param {
      em {
        font-size: .9em;
        color: #808080;

        code {
          text-decoration: none;
          display: inline-block;
          font-weight: bold;
          margin-right: 3px;
        }
      }

      td {
        &:first-child {
          .type {
            display: none;
          }
        }
      }

      .param-description {
        font-style: italic;
        color: #808080;
      }
    }
  }

  .description {
    p {
      margin: 0;
      padding: 0;
    }
  }

  .returns {
    @include clearfix;

    strong {
      display: inline-block;
      float: left;
      margin-right: 1em;
    }

    .returns-description {
      float: left;
    }
  }
}

%class-heading {
  font-size: 1.5em;
  font-weight: 1.5em;
  border-bottom: solid 1px $header-underline-color;
  padding-bottom: .5em;
}

#properties {
  margin-bottom: 2em;

  h2 {
    @extend %class-heading;
  }
}

#static-methods {
  margin-bottom: 2em;

  h2 {
    @extend %class-heading;
  }
}

#methods {
  margin-bottom: 2em;

  h2 {
    @extend %class-heading;
  }
}

#properties-table {
  font-size: 90%;

  td {
    padding: 0;
  }
}

.module-name {
  margin-bottom: 2em;
}
